<p class="text-xs-center">Sign in for work</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="alert alert-{{message.type}}"
    *ngIf="message.text"
  >
    {{message.text}}</div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"
  >
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Write your email"
      formControlName="email"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('email').invalid && form.get('email').touched"
    >
      <span *ngIf="form.get('email')['errors']['required']">Write email</span>
      <span *ngIf="form.get('email')['errors']['email']">Write correct email</span>
    </span>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Password"
      formControlName="password"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('password').invalid && form.get('password').touched"
    >
      <span *ngIf="form.get('password')['errors']['required']">Enter password</span>
      <span *ngIf="form.get('password')['errors']['minlength']">Password cant be shorter
        {{form.get('password')['errors']['minlength']['requiredLength']}}
        characters</span>
    </span>
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="form.invalid"
    >Sign in</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Don’t have an account?<a [routerLink]="'/registration'" > Sign up!</a>
    </p>
  </div>
</form>
