<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Add category</h3>
    </div>
  </div>
  <div class="card-block">
    <form
        #form="ngForm"
        (ngSubmit)="onSubmit(form)"
    >
      <div
        class="form-group"
        [ngClass]="{'has-error': name.invalid && name.touched}"
      >
        <label
          class="control-label"
          for="category-name"
        >Write category name</label>
        <input
          type="text"
          id="category-name"
          class="form-control"
          #name="ngModel"
          name="name"
          ngModel
          required
        >
        <span
          class="form-help-text"
          *ngIf="name.invalid && name.touched"
        >Category name can`t be empty</span>
      </div>
      <div
        class="form-group"
        [ngClass]="{'has-error': capacity.invalid && capacity.touched}"
      >
        <label class="control-label" for="category-value">Write limit</label>
        <input
          type="number"
          [ngModel]="1"
          id="category-value"
          class="form-control"
          #capacity="ngModel"
          name="capacity"
          ngModel
          required
          min="1"
        >
        <span
          class="form-help-text"
          *ngIf="capacity.invalid && capacity.touched"
        >Field can`t be empty
        </span>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
