<div class="title-block">
  <h3 class="title pull-left">
    Bill page <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<section class="section">
  <div class="row text-center" *ngIf="!isLoaded">
    Loading ...
  </div>
  <div class="row">
    <rudkevycho-bill-card
      *ngIf="isLoaded"
      [bill]="bill"
      [currency]="currency"
    ></rudkevycho-bill-card>
    <rudkevycho-currency-card
      *ngIf="isLoaded"
      [currency]="currency"
    ></rudkevycho-currency-card>
  </div>
</section>
