<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <section class="example">
            <ngx-charts-pie-chart
              [view]="view"
              [results]="data"
              [legend]="false"
              [explodeSlices]="false"
              [labels]="true"
              [doughnut]="true">
            </ngx-charts-pie-chart>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
